<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishes</title>
</head>
<body>
    <div class="warpper">
        <div class="container p-3 my-3 bg-light text-black">
            <div class="d-flex justify-content-between">
            <h1> Hello {{user.first_name}}!</h1>
            <div class="p-2 ">
            <a class="btn btn-link " href="/travel">Dashboard</a> </div> 
            <form action='/logout' method='post'>
                {% csrf_token %}
                <input class="btn btn-link" type='submit' value='Logout'>
            </form>
            </div>
            <h5> {{travel.destination}}</h5>
            <p>Start Date: {{travel.start}}</p>
            <p>Start Date: {{travel.end}}</p>
            <p>Created On: {{travel.created_at}}</p>
            <p>Last Update: {{travel.updated_at}}</p>
            <p>Plan: {{travel.description}}</p>
            <p>Created by: {{travel.creator.first_name}}</p>
            <div class="p-2">
                <h5>People who've  Joined the trip:</h5>
                    {%for user in others%}
                <p> {{user.first_name}}</p>
                    {%endfor%}
            </div>
        </div>
</div>
</body>
</html>